body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.dark-mode{
  background-color: #403e42;
  color: #FAFAFA;
}
.dark-mode .list{
  background-color: rgb(117, 115, 115);
  
}
.main {
  text-align: center;
}
.dark-mode .input {
  width: 40%;
  border: '1px solid white';
  color: 'white'
}
.list{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background-color: #ede0e0;
  padding: 20px;
}
.loading{
  width: 100%;
  height: 100vh;
  background-color: transparent;
  
}
#loader{
  position: absolute;
  left: 50%;
  top: 50%;
}